<!DOCTYPE html>
<html lang="en">
<head>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js | Conditional</title>
</head>
<body>
    <div id="app">
        <div v-if="isVisible === true">visible</div>
        <div v-else>no visible</div>
        <hr>
        <div v-if="value == 5">valor 5</div>
        <div v-else-if="value > 5">valor mayor a 5</div>
        <div v-else>otro valor</div>
    </div>    
    <script src="js/app.js"></script>
</body>
</html>