<!DOCTYPE html>
<html lang="en">
<head>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js | for</title>
</head>
<body>
    <div id="app" class="container">
        <div>
            <ul>
                <li v-for="person in people">{{ person }}</li>
            </ul>
            <hr>
            <ul>
                <li v-for="(person, index ) in people">
                    {{ index }} - {{ person }}
                    <span v-if="index === people.length -1">
                        <hr>Fin
                    </span>
                </li>
            </ul>
            <button class="btn btn-primary" v-on:click="filterPeople">Filtrar</button>
        </div>
        <hr>
        <div>
            <ul>
                <li v-for="(person, index ) in ArrayObjects">
                    {{ index }} - {{ person.name }} - {{ person.age }}
                    <span v-if="index === people.length -1"> a                        
                    </span>
                </li>
            </ul>
            <button class="btn btn-primary" v-on:click="filterPeopleObjects">Filtrar objetos por edad</button>

            <input v-model="filtro_edad" type="text">

        </div>
        
    </div>    
    <script src="js/app.js"></script>
</body>
</html>