<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/vue.js"></script>
    <script src="../js/vue-router.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js | Routes</title>
</head>
<body>
    <div class="container">
       <div id="app">
       
            <router-link to="/">Home</router-link>
            <router-link to="/list-person">Person</router-link>
            <router-link to="/list-programing">Programing</router-link>
            <router-link to="/other">Other</router-link>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>
            <modal-bootstrap>
                <div slot="header">
                    <h5 class="modal-title" id="exampleModalLabel">Hello World</h5>
                </div>
                <div slot="footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Enviar</button>
                </div>
            </modal-bootstrap>

            <router-view></router-view>
       </div>        
    </div>
    <script src="js/components/ListPerson.js"></script>    
    <script src="js/components/ListPrograming.js"></script>    
    <script src="js/components/ListAlert.js"></script>    
    <script src="js/components/Slot.js"></script>    
    <script src="js/components/PageNotFound.js"></script>
    <script src="js/app.js"></script>    
    <script src="../js/jquery-3.5.1.slim.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script> 
</body>
</html>